.box {
  background: black;
  width: ;
  height: 70px;
  padding: 20px;
  Border: 5px solid blue;
  margin: 2px;
  float: center;
  
    
}



h1 {
  color: white;
  font-family: monospace;
  font-size: 30px;
  position: center;
  left: 0;
  
}

.box2 {
  background: lightseagreen;
  height:100vh;
  top:
  
}